<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="assets/linked-in-reva.png" style="width: 35px; height: 35px; display: inline-block; margin-right: 10px;">
      <a class="navbar-brand ml-4" routerLink="/" style="font-weight: 600;">{{constants.applicationName}}</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      </div>
    </div>
  </nav>

<app-notification></app-notification>
  
