<nav class="navbar">
    <div class="container">
        <div class="navbar-left">
            <a class="navbar-brand" routerLink="/">
                <svg width="40" height="40" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <g fill="#4A90E2" transform="translate(50,50)">
                        <rect x="-8" y="-35" width="16" height="70" rx="2"/>
                        <rect x="-8" y="-35" width="16" height="70" rx="2" transform="rotate(60)"/>
                        <rect x="-8" y="-35" width="16" height="70" rx="2" transform="rotate(-60)"/>
                    </g>
                </svg>
                <span class="app-name">QA Platform</span>
            </a>
            <div class="nav-links">
                <a routerLink="/" class="nav-link" [class.active]="isActive('/')">Home</a>
            </div>
        </div>

        <div class="navbar-center">
            <div class="search-container">
                <i class="fas fa-search search-icon"></i>
                <input type="search" placeholder="Search" class="search-input">
            </div>
        </div>

        <div class="navbar-right">
            <button class="ask-button" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ask Question
            </button>

            <div class="nav-icons">
                <div class="header-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="far fa-bell"></i>
                    <span class="badge" *ngIf="notificationComponent.unreadMessageCount">
                        {{notificationComponent.unreadMessageCount}}
                    </span>
                </div>

                <div class="header-icon" (click)="navigateToChat()">
                    <i class="far fa-comment-dots"></i>
                </div>

                <div class="profile-menu">
                    <div class="profile-img">
                        <img src="https://avatar.iran.liara.run/public/boy" alt="user">
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="visually-hidden">User menu</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a (click)="navigateToProfile()" class="dropdown-item">
                                    <i class="far fa-user me-2"></i>Profile
                                </a>
                            </li>
                            <li>
                                <a (click)="logout()" class="dropdown-item">
                                    <i class="fas fa-sign-out-alt me-2"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<app-notification #notificationComponent></app-notification>
  
