.error
{
    color: red;
    font-size: 0.7em;
}
.remove-link-style
{
    text-decoration: none;
    color: black;
}

:root{
    --primary-color: #2563eb;
    --secondary-color: #64748b;
    --page-background: rgb(255, 251, 251);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

