<nav class="navbar">
    <div class="container">
        <div class="navbar-left">
            <a class="navbar-brand" routerLink="/">
                <svg width="28" height="28" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <g fill="#4A90E2" transform="translate(50,50)">
                        <rect x="-8" y="-35" width="16" height="70" rx="2"/>
                        <rect x="-8" y="-35" width="16" height="70" rx="2" transform="rotate(60)"/>
                        <rect x="-8" y="-35" width="16" height="70" rx="2" transform="rotate(-60)"/>
                    </g>
                </svg>
                <span class="app-name">ConnectEd</span>
            </a>
        </div>

        <div class="navbar-right">
            <a 
              *ngFor="let link of navLinks" 
              [routerLink]="link.route" 
              class="nav-link"
            >
              {{ link.label }}
            </a>

            <a routerLink="/register" class="btn btn-primary">
                Sign Up
            </a>
        </div>
    </div>
</nav>