<div class="offcanvas offcanvas-end notification-drawer" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header drawer-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Notifications</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    
    <div class="offcanvas-body drawer-body">

        <div *ngIf="notifications.length === 0" class="empty-state">
            <p>You're all caught up! No new notifications.</p>
        </div>

        <div 
            class="notification-item" 
            *ngFor="let notification of notifications"
            [class.is-read]="notification.isRead" 
            (click)="makeNotificationRead(notification)">
            
            <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                </svg>
            </div>
            
            <span class="notification-message">
                {{notification.message}}
                <span class="notification-time">2 minutes ago</span>
            </span>
        </div>
        
    </div>
</div>